$primary: #56a5bf;
$secondary: #7dc0d6;
$accent: #ff7e2f;
$purple: #8471e2;

.v-application p {
  margin-bottom: 0;
}
.v-tooltip__content {
  font-size: 12px;
}

.v-btn--outlined {
  border: 1.5px solid;
}
